<!--contact 써클네비게이션-->
<div class = "menu"> <!--circularnav.css-->
    <div class = "toggle"><ion-icon class = "add" name="add-outline"></ion-icon></div>
    <li style = "--i:0;">
        <a href = "#"></a>
    </li>
    <li style = "--i:1;">
        <a href = "#"></a>
    </li>
    <li style = "--i:2">
        <a href = "#"></a>
    </li>
    <li style = "--i:3;">
        <a id = "info" href = "#"><ion-icon class = "icon" name="call-outline"></ion-icon>이세휘 010-7705-4839</a>
    </li>
    <li style = "--i:4;">
        <a id = "info" href = "https://www.instagram.com/sehwiindaeyo/" target=”_blank”><ion-icon class = "icon" name="logo-instagram"></ion-icon>@sehwiindaeyo</a>
    </li>
    <li style = "--i:5;">
        <a id = "info" href = "https://www.naver.com" target=”_blank”><ion-icon class = "icon" name="mail-outline"></ion-icon>lioncub999@naver.com</a>
    </li>
    <li style = "--i:6;">
        <a href = "#"></a>
    </li>
    <li style = "--i:7;">
        <a href = "#"></a>
    </li>
</div>
    <!-------------------------contact 써클네비게이션------------------------->
<!--contact 섹션 토글 엑티브 스크립트 -->
<script>
    let toggle = document.querySelector('.toggle');
    let menu = document.querySelector('.menu');
    toggle.onclick = function() {
        menu.classList.toggle('active')
;        }
</script>
<!-------------------------contact 섹션 토글 엑티브 스크립트-------------------------->
