{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>SEHWI WORLD</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/css/home.css">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/nav.css' %}">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/circularnav.css' %}">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/analogclock.css' %}">

</head>

<!-------------------------새로고침시 항상 제일 위로------------------------->


<body>
<div class = "container"> <!--home.css(모든 화면)-->
    {% include "mvp\\nav.html" %}
    {% include "mvp\\section.html" %}
</div>

<!--온라인 아이콘-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!-------------------------온라인 아이콘-------------------------->

<!--새로고침시 항상 제일 위로-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(window).on('beforeunload', function() {
      $('body').hide();
      $(window).scrollTop(0);
    });
</script>
<!-------------------------새로고침시 항상 제일 위로-------------------------->

</body>
</html>